#map {
    min-height: 700px;
    height: 100%;
}

.map-container-single {
    border-radius: 5px;
    overflow: hidden;
    #map {
        min-height: 575px;
    }
}

/* Nel tuo file CSS */

#map .my-custom-icon {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: white;
  }
  