/* You can add global styles to this file, and also import other style files */
@import '~leaflet/dist/leaflet.css';

/*============QPF CSS ==============*/
// Created on MARCH 2021
// By Kasa - casasola@acrotec.it


@import "global_variables.scss";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
// @import "assets/icons/custom-icon-font/css/wg-icon.css";
// @import "assets/icons/custom-icon-font/css/wg-icon-codes.css";
// @import "assets/icons/custom-icon-font/css/wg-icon-embedded.css";
// @import "assets/icons/custom-icon-font/css/wg-icon-ie7.css";
// @import "assets/icons/custom-icon-font/css/wg-icon-ie7-codes.css";

@import "../node_modules/angular2-multiselect-dropdown/themes/default.theme.css";

/*===========================
           GENERALI
=============================*/




html {
  scroll-behavior: smooth;
}
.main {
  min-height: calc(100vh - #{$h-header + $h-footer});
}
.btn-xs {
  padding: 5px 10px !important;
  font-size: 12px;
}
.pointer {
  cursor: pointer;
}

.bg-extra-light {
  background-color: #f7f7f7;
}
.lever.inverted {
  float: left !important;
}
.breadcrumbs {
  a {
    color: unset;
    text-decoration: unset;
    &:hover {
      text-decoration: underline;
    }
  }
}
button.badge {
  border: 0;
}

/*FONTS*/
.font-wiki {
  font-family: 'Playfair Display', serif;
}
.font-giustizia {
  font-family: 'Poppins', sans-serif;
}
.color-wg-orange {
  color: $wg-orange;
}
.color-wg-blue {
  color: $wg-blue;
}
.bg-wg-orange {
  background-color: $wg-orange;
}
.bg-wg-blue {
  background-color: $wg-blue;
}

/*FORM*/
.form-group {
  margin-bottom: 35px;
}
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
textarea, select  {
  background-color: aliceblue;
  border-radius: 5px;
  font-size: 0.8em;
}

select {
  border: none;
  border-bottom: 1px solid #5c6f82;
  padding: .375rem .5rem;
  outline: 0;
  height: 2.5rem;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  font-weight: 700;
}

/*MODALE*/
.modal-content {
  border-radius: 5px;
}
