
.icon-alluvioni:before { content: '\e800'; } /* '' */
.icon-altri:before { content: '\e801'; } /* '' */
.icon-frana:before { content: '\e802'; } /* '' */
.icon-sanitario:before { content: '\e803'; } /* '' */
.icon-terremoto:before { content: '\e804'; } /* '' */
.icon-vento:before { content: '\e805'; } /* '' */